<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

	<display-name>OpenReports</display-name>	
	
	<context-param>
    	<param-name>contextConfigLocation</param-name>
   		<param-value>/WEB-INF/applicationContext*.xml</param-value>
  	</context-param>

	<filter>
		<filter-name>struts</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.FilterDispatcher
		</filter-class>
	</filter>

	<filter>
		<filter-name>ResponseOverrideFilter</filter-name>
		<filter-class>
			org.displaytag.filter.ResponseOverrideFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ResponseOverrideFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>struts</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	

	<!-- resources initializer -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>JspSupportServlet</servlet-name>
		<servlet-class>
			org.apache.struts2.views.JspSupportServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>fileServlet</servlet-name>
		<servlet-class>
			org.efs.openreports.dispatcher.FileDispatcher
		</servlet-class>
		<load-on-startup>99</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>XFireServlet</servlet-name>
		<display-name>XFire Servlet</display-name>
		<servlet-class>
			org.codehaus.xfire.spring.XFireSpringServlet
		</servlet-class>
	</servlet>	

	<servlet-mapping>
		<servlet-name>fileServlet</servlet-name>
		<url-pattern>/report-images/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>fileServlet</servlet-name>
		<url-pattern>/report-files/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>XFireServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/login.action</welcome-file>
	</welcome-file-list>

  <security-constraint>
     <web-resource-collection>
       <web-resource-name>HtmlAdaptor</web-resource-name>
       <description>Any authenticated user may access this web app</description>
       <url-pattern>/*</url-pattern>
       <http-method>GET</http-method>
       <http-method>POST</http-method>
     </web-resource-collection>
     <auth-constraint>
       <role-name>*</role-name>
     </auth-constraint>
   </security-constraint>
   
  <security-constraint>
     <web-resource-collection>
       <web-resource-name>HtmlAdaptor</web-resource-name>
       <description>These are left to be authenticated on their own</description>
       <url-pattern>/executeReport.action</url-pattern>
       <url-pattern>/queryReportResult.action</url-pattern>
       <url-pattern>/report-images/*</url-pattern>
       <url-pattern>/services/*</url-pattern>
       <http-method>GET</http-method>
       <http-method>POST</http-method>
     </web-resource-collection>
     <!--  added by syamala balantrapu -->
    <!--   <auth-constraint>
            <role-name>JBossAdmin</role-name>
        </auth-constraint>
        -->
       </security-constraint>
   
 
 <login-config>
      <auth-method>BASIC</auth-method>
      <realm-name>Reporting Server</realm-name>
   </login-config>  
 
 <!--    
   <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>JBoss JMX Console</realm-name>
    </login-config>
 -->  


   <security-role>
      <role-name>manager</role-name>
   </security-role>

   
   <!--  
   <security-role>
      <role-name>JBossAdmin</role-name>
   </security-role>
   -->

</web-app>
